.btn {
    color: var(--main-white);
    background: var(--main-red);
    cursor: pointer;
    transition: background 0.2 ease-in;
    border: none;
    outline: none;
    text-align: center;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.45);
    &:hover {
        background: var(--main-red-hover);
        transform: translateY(-1px);
    }
}

.btn-signIn {
    right: 0;
    margin: 1.25rem 3% 0;
    padding: 0.8rem 1rem;
    font-weight: 400;
    border-radius: 0.19rem;
    font-size: 1.2rem;
    position: absolute;
    translate: transform(-50%, -50%);
    z-index: 1;
}

.btn-main {
    display: inline-block;
    text-transform: uppercase;
    margin: 7% 33%;
    padding: 1.5rem;
    border-radius: 0.19rem;
    font-size: 1.6rem;
}

.btn-cancel {
    padding:1.2rem;
    font-size: 1.4rem;
    margin-top: 2rem;
    text-transform: uppercase;
}