.first-container {
    margin:0 10%;
}

.main {
    background: var(--main-black);
    img {
        width: 31.875rem;
    }
}

.first-tab-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    font-size: 2rem;
    padding: 2.5rem;
    @media only screen and  (max-width:'960px') {
        grid-template-columns: 100%;
        text-align: 0;
        padding-left: 0;
        padding-right: 0;
}
}

.title {
    margin-bottom: 2rem;
    margin-top: 2rem;
    @media only screen and  (max-width:'1440px') {
            font-size: 1.5rem;
            line-height: 1;
        
    }
}

// Second Section
.main-second {
    background: var(--main-black);
}
.second-container {
    margin: 0 15%;
}

.second-tab-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;
    font-size: 2rem; 
    span {
        grid-column: 1 / 8;
        @media only screen and  (max-width:'900px') {
            grid-column: 1 / -1;
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
    }
    }
}


.second-tab-bottom-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    text-align: center;
    margin-top: 2rem;
    @media only screen and  (max-width:'1140px') {
        grid-template-columns: 1fr;
}

@media only screen and  (max-width:'900px') {
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 1.5rem;
}
}

h3 {
    margin: 0.5rem 0;
}

// Third Section
.third-tab-content {
    margin: 0 15%;
    background: var(--main-black);
    padding-bottom: 1%;

}

.tab-top-content {
    display: grid;
    grid-template-columns:repeat(12,1fr);
    padding: 3rem 0 0;
    @media only screen and  (max-width:'1350px') {
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
        text-align: center;
}


    span {
        grid-column: 3/12;
        font-size: 2rem;
        margin-top: 1rem;
        @media only screen and  (max-width:'1350px') {
            grid-column: 1 / -1;
    }
    @media only screen and (max-width:'1440px') {
        font-size: 1.5rem;
    }
    }
}

.third-tab-bottom-content {
    margin: 2rem auto;
    width: 80%;
}

table {
    width:100%;
    margin-top: 2rem;
    border-collapse: collapse;
}

table thead th {
    text-transform: uppercase;
    padding: 0.8rem;
}

table tbody tr td {
    color: var(--main-grey);
    padding: 0.8rem 1.2rem;
    text-align: center;
}

table tbody tr td:first-child {
    text-align: left;
}

table tbody tr:nth-child(even) {
    background: #222;
}